[submodule "InterruptHandler"]
	path = InterruptHandler
	url = https://github.com/YassienTawfikk/InterruptHandler.git
[submodule "Press2Display"]
	path = Press2Display
	url = https://github.com/YassienTawfikk/Press2Display.git
[submodule "ConveyorX"]
	path = ConveyorX
	url = https://github.com/YassienTawfikk/ConveyorX.git
